<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pagination">
	<div>
		<ul>
			<li style="display:inline;">
				<span th:if="${page.first}">←前</span>
				<a th:if="${!page.first}" th:href="@{/photos/(page = ${page.number} - 1)}">
					←前
				</a>
			</li>
			<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" style="display:inline; margin-left:10px;">
				<span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
				<a th:if="${i} != ${page.number}" th:href="@{/photos/(page = ${i})}">
					<span th:text="${i+1}">1</span>
				</a>
			</li>
			<li style="display:inline; margin-left:10px;">
				<span th:if="${page.last}">次→</span>
				<a th:if="${!page.last}" th:href="@{/photos/(page = (${page.number} + 1))}">
					次→;
				</a>
			</li>
		</ul>
		<p>[[ ${pageCaption} ]]</p>
	</div>
</div>

</html>