<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
    <h1>[[ #{users.login.title} ]]</h1>
	<ul>
        <li th:each="error : ${#fields.detailedErrors()}">
            <span>[[ ${error.message} ]]</span>
        </li>
    </ul> 
    <form th:action="@{/login}" method="post" class="form-login">
    	<p class="text-danger" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null}">
    		[[ ${session['SPRING_SECURITY_LAST_EXCEPTION'].message} ]]
    	</p>
        <p class="form-group">
            <label for="email">[[ #{userForm.email} ]]: </label>
            <input type="text" name="email" id="email" class="form-control" autofocus>
        </p>
        <p class="form-group">
            <label for="password">[[ #{userForm.password} ]]: </label>
           <input type="password" name="password" id="password" class="form-control">
        </p>
        <p><input type="submit" th:value="#{users.login.button}" class="btn btn-primary w-100 mt-3"></p>
    </form>
</div>
</html>