<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
    <h1>[[ #{items.detail.title} ]]</h1>
    <dl th:object="${item}">
        <dt>[[ #{itemForm.name} ]]</dt>
        <dd>[[ *{name} ]]</dd>
        <dt>[[ #{itemForm.image} ]]</dt>
        <dd><img class="item_image" th:src="@{/images/{image} (image=*{image})}"></dd>
		<dt>[[ #{itemForm.category_id} ]]</dt>
        <dd>[[ *{category.name} ]]</dd>
		<dt>[[ #{itemForm.price} ]]</dt>
        <dd>[[ #{items.price(*{#numbers.formatInteger(price, 3, 'COMMA')})} ]]</dd>
		<dt>[[ #{itemForm.description} ]]</dt>
        <dd>[[ *{description} ]]</dd>
    </dl>
	<th:block th:unless="${item.isSoldout() || #authentication.principal.user.id == item.user.id}">
	    <form method="get" th:action="@{/items/confirm/{id} (id=*{id})}">
	        <input type="submit" th:value="#{items.detail.button}" >
	    </form>
	</th:block>
	<th:block th:if="${item.isSoldout()}">
		<div style="color: red;">売り切れ</div>
	</th:block>
</div>
</html>