<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
    <h1>[[ #{items.exhibitions.title(${user.name})} ]]</h1>
	<a class="btn btn-primary" th:href="@{/items/create/}">[[ #{items.exhibitions.linktoCreate} ]]</a>
    <ul th:each="item : ${items}" th:object="${item}" class="list-unstyled">
        <li>
            <a th:href="@{/items/detail/{id} (id=*{id})}">
                <img class="item_image" th:src="@{/images/{image} (image=*{image})}">
            </a>
            <span>[[ *{description} ]]</span>
            <div>[[ #{itemForm.name} ]]: [[ *{name} ]] / [[ #{itemForm.price} ]]: [[ #{items.price(*{#numbers.formatInteger(price, 3, 'COMMA')})} ]]</div>
            <div>[[ #{itemForm.category_id }]]: [[ *{category.name} ]] ([[ *{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm:ss')} ]])</div>
            <th:block th:if="${item.isSoldout()}">
            	<p style="color: red;">[[ #{items.soldout} ]]</p>
            </th:block>
            <th:block th:unless="${item.isSoldout()}">
            	<p>[[ #{items.exhibiting} ]]</p>
            </th:block>
            <th:block th:if="${#authentication.principal.user.id == user.id}">
            	<div class="btn-group">
					<a class="btn btn-success" th:href="@{/items/edit/{id} (id=${item.id})}">[[ #{items.exhibitions.linktoEdit} ]]</a>
					<a class="btn btn-success mr-1" th:href="@{/items/editimage/{id} (id=${item.id})}">[[ #{items.exhibitions.linktoEditImage} ]]</a>
					<a class="btn btn-danger" th:href="@{/items/delete/{id} (id=${item.id})}">[[ #{items.exhibitions.linktoDelete} ]]</a>
            	</div>
			</th:block>
        </li>
    </ul>
    <th:block th:if="${items.size() == 0}">
		<p>[[ #{items.exhibitions.notyet} ]]</p>
	</th:block>
</div>
</html>